<%- partial ('partials/statusmessage.ejs') %>

<h2>Welcome to the Viddy Game List 2.0!</h2>
<hr>
<h3>New and Improved!</h3>
<p>
  Cat ipsum dolor sit amet, vommit food and eat it again, leave dead animals as gifts for rub face on owner. Poop in litter box, scratch the walls eat grass, throw it back up and caticus cuteicus, walk on car leaving trail of paw prints on hood and
  windshield hunt anything that moves, steal the warm chair right after you get up. You call this cat food? stare at wall turn and meow stare at wall some more meow again continue staring fall over dead (not really but gets sypathy) ears back wide eyed
  for leave fur on owners clothes or mew. Human is washing you why halp oh the horror flee scratch hiss bite. You call this cat food? why must they do that hunt by meowing loudly at 5am next to human slave food dispenser i am the best. Howl
  uncontrollably for no reason chew foot sit on the laptop gnaw the corn cob or lick the other cats. Kitty power! need to chase tail, or stretch eat the fat cats food.
</p>
<br>
<h3>Add More To The List!</h3>
<p>
  Throwup on your pillow lick butt and make a weird face. Playing with balls of wool vommit food and eat it again meowzer!. Scamper. Climb leg chase imaginary bugs intently stare at the same spot, chase dog then run away. Kitty ipsum dolor sit amet,
  shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff sit on the laptop. Groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the
  day - checked! stare at ceiling light so refuse to leave cardboard box pee in human's bed until he cleans the litter box or lay on arms while you're using the keyboard tuxedo cats always looking dapper.
</p>
